@media all and (min-width:800px) {
    .showcase{
        padding: 121px 10px;
        background: center/cover no-repeat url(../images/bg-intro-desktop.png), $primary-color1;
    }

    .showcase-card{
        max-width: 1110px;
        margin: auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .title-col{
        text-align: left;
        margin-bottom: 0;
        padding-right: 20px;

        h1{
            font-size: 3.125rem;
            line-height: 1.2;
        }
    }

    .form-content{
        padding: 40px;

        .terms{
            font-size: 0.75rem;
        }
    }
}